mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-task {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

//animation
.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}
:host {
  display: block;
}

.item {
  margin-bottom: 10px;
  cursor: pointer;
}


//.mat-horizontal-stepper-header
//          .mat-stepper-horizontal
//          .mat-step-icon {
//  margin-right: 20px !important;
//  margin-left:  20px !important;
//}


.mat-step-header[aria-selected="true"] {
  background-color: lightgreen !important;
}

.mat-step-header .mat-step-icon {
  background-color: blue;
}

//
//.mat-horizontal-stepper-header {
//  padding: 14px !important;
//}
//
//.mat-stepper-horizontal .mat-horizontal-stepper-header {
//  padding: 100px;
//  margin: 100px;
//  height:auto;
//}
//.mat-stepper-horizontal .mat-stepper-horizontal-line {
//  margin: 0 -4px;
//}
