<p>Basically , mergeMap Helps manage observables, instaid of subscribing more than one , it will unsubscribe the current and return the new  </p>

<a href="https://www.youtube.com/watch?v=6lKoLwGlglE">example</a>
<button (click)="do1()" > map 1</button>
<button (click)="do2()"> map 2</button>
<button  id="remaining"> map 3</button>


<p><b>rxjs : </b> reactive extensions for JS <br>
  a lib for reactive programming , usually gets an Observable and returns an Observable <br>
  this lib holds Operators such as : <br>
  map , mergeMap , first ...<br>
  these operators are accessible to other observables via pipe
</p>

<p><b>redux : </b> state management <br>
  reduce api calls by managing the information in a store that is accessible for all pages
</p>

<p><b>ngrx : </b> redux implementation for angular <br>
  ngrx is built out of these 5 concepts
  Store ,actions , reducers , effects and selectors
</p>

<!--<h4>-->
<!--  Time remaining: <span id="remaining"></span>-->
<!--</h4>-->
<!--<button id="pause"></button>-->
<!--<button id="resume">Resume Timer</button>-->
