div{
  margin: 5px;
  direction: ltr;
}

mat-form-field{
  text-align: left !important
}

mat-hint{
  color:blueviolet !important;
}

btn-w{
  width: 120px;
  align-content: center
}
.added-css{
  background:white;
  font-size: 50px;
  color: black;
}

.mat-checkbox-inner-container{
  margin: 10px !important;
}
