<p>
  {{msg}}
</p>


<button (click)="getById()">getById</button>
<button (click)="sendAndReceiveObject()">sendAndReceiveObject</button>
<button (click)="getAllHeros()">getAllHeros</button>

<br>
<input value = "{{myString}}" style="width:80%">

<hr>
<button (click)="HeroAll()">Get Hero all</button>
<button (click)="HeroById()">Get Hero by Id</button>
<button (click)="HeroByName()">Get Hero by name</button>
<input value = "{{myString1}}" style="width:80%">

<hr>
<button (click)="sendOtotMobi()">sendOtotMobi</button>
<button (click)="sendOtotMobiLocal()">sendOtotMobiLocal</button>
<button (click)="sendOtotMobiGetSingleEvent()">sendOtotMobiGetSingleEvent</button>
<input value = "{{myString2}}" style="width:80%">





<!--<button (click)="HeroById()">Get Hero by Id</button>-->
<!--<button (click)="HeroByName()">Get Hero by name</button>-->

<!--<br>{{heros[0].name}}-->
<!--<br>{{heros[1].name}}-->
<!--<br>{{heros[2].name}}-->
