
<div fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <H6>Currently not working on angular 13  </H6>
  <a href="https://github.com/FERNman/angular-google-charts/pull/254"> check here</a>

  <H4>Bar chart</H4>
  <div id="initial_chart_div"></div>

  <H4>Multi chart</H4>
  <div id="multi_chart_div"></div>

  <H4>Pie chart</H4>
  <!--<div id="pie_chart" style="width: 100vw; height: 30vh;"></div>-->
  <div #pieChart style="width: 100vw; height: 30vh;"></div>

  <H4>Line chart</H4>
  <div id="line_chart" style="width: 100vw; height: 30vh;"></div>

  <H4>Donate chart</H4>
  <div id="donate_chart" style="width: 100vw; height: 30vh;"></div>


</div>






<!--<google-chart [type]="'Line'"-->
<!--              [data]="chartData" [columns]="columnNames" [title]="'Título de la gráfica'" [options]="options">></google-chart>-->
